@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #232126;
  font-size: 18px;
  text-align: center;
}

#controls {
  display: inline-block;
  background-color: #eaeaea;
  padding: 1em;
  text-align: left;
}

#controls p {
  margin: 0;
}

#controls form {
  margin: 1em;
  margin-bottom: 0;
}

#controls textarea {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 20px;
  height: 200px;
  width: 30em;
  resize: vertical;
}

#controls label {
  display: block;
  font-size: 14px;
  margin: 0.3em 0;
}

#controls input[type="file"] {
  display: block;
  font-size: 14px;
}

label#dl-progress {
  font-size: 12px;
}

.progress-bar {
  margin-top: 0.3em;
  width: 100%;
  height: 8px;
  border-radius: 12px;
  background-color: #d1d1d1;
}

.progress-value {
  height: 100%;
  background-color: #e22;
  border-radius: 12px;
  transition: width 1s;
}

.progress-value span {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg,#e22, #e22 5px, #b50000 5px, #b50000 10px);
  background-size: 200px 200px;
  border-radius: 12px;
  animation: load 7s infinite linear;
}

@keyframes load {
  from { background-position: -200px; }
  to { background-position: 0; }
}

#controls button {
  margin: 0.5em;
  padding: 0.7em 1em;
  border: 0;
  background-color: #b50000;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

#controls button:active,
#controls button:focus,
#controls button:hover:not([disabled]) {
  background-color: #e22;
}

#controls button:last-child {
  margin-right: 0;
}

[disabled] {
  filter: grayscale(50%);
  opacity: 0.7;
}

/* Queue */

#queue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  justify-items: center;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 90%;
  margin: 1em auto;
  padding: 0;
}

#queue li {
  display: flex;
  background-color: #eaeaea;
  list-style-type: none;
  width: 600px;
  max-width: 100%;
}

#queue img {
  align-self: center;
  max-width: 285px;
  max-height: 160px;
}

#queue form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#queue input {
  padding: 0.2em;
  margin: 1em;
  border: 0;
  border-bottom: 2px solid #b50000;
  font-size: 14px;
  width: 90%;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

#queue input:focus,
#queue input:hover,
#queue input:active {
  border: 0;
  border-bottom: 2px solid #e22;
}

@media all and (min-width: 1250px) {
  #queue li {
    width: 100%;
    max-width: 750px;
  }
}